[package]
name = "ic-stable-structures"
version.workspace = true
edition.workspace = true

[dependencies]
dfinity-stable-structures = { workspace = true }
memmap2 = { workspace = true, optional = true }
mini-moka = { workspace = true }
parking_lot = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
anyhow = "1"
candid = { workspace = true }
criterion = { workspace = true }
did = { path = "./tests/did" }
ic-cdk = { workspace = true }
ic-cdk-macros = { workspace = true }
ic-exports = { path = "../ic-exports", features = ["ic-test-state-machine"]}
once_cell = { workspace = true }
rand = { workspace = true }
serde = { workspace = true }
tempfile = { workspace = true }

[[bench]]
name = "stable_storage_benchmark"
harness = false

[features]
# Enables the integration tests based on ic-test-state-machine
state-machine = []
memory-mapped-files-memory = ["memmap2"]
