[workspace]
members = [
    "ic-auction",
    "ic-canister/ic-canister-macros",
    "ic-canister/ic-canister",
    "ic-canister/tests/canister-a",
    "ic-canister/tests/canister-b",
    "ic-canister/tests/canister-c",
    "ic-canister/tests/canister-d",
    "ic-canister/tests/canister-e",
    "ic-canister-client",
    "icrc-ledger-types",
    "ic-exports",
    "ic-crypto-getrandom-for-wasm",
    "ic-helpers",
    "ic-kit",
    "ic-log",
    "ic-metrics",
    "ic-payments",
    "ic-payments/test-payment-canister",
    "ic-stable-structures",
    "ic-stable-structures/tests/did",
    "ic-stable-structures/tests/dummy_canister",
    "ic-storage",
    "ic-storage/ic-storage-derive",
    "ic-test-utils",
]

[package]
name = "canister-sdk"
version.workspace = true
edition.workspace = true

[workspace.package]
version = "0.5.0"
edition = "2021"

[features]
default = []
auction-api = ["ic-auction?/export-api"]
metrics-api = ["ic-metrics/export-api"]
auction = ["dep:ic-auction"]


[dependencies]
ic-exports = { path = "./ic-exports" }
ic-auction = { path = "./ic-auction", optional = true }
ic-canister = { path = "./ic-canister/ic-canister" }
ic-storage = { path = "./ic-storage" }
ic-helpers = { path = "./ic-helpers" }
ic-metrics = { path = "./ic-metrics" }

[workspace.dependencies]
anyhow = "1"
arc-swap = "1.6"
async-recursion = "1.0.2"
async-trait = "0.1"
auto_ops = "0.3"
criterion = "0.5.1"
crypto-bigint = { version = "0.5", features = ["serde"] }
dirs = "5.0"
env_logger = "0.10"
flate2 = "1"
futures = { version = "0.3", default-features = false }
garcon = "0.2"
getrandom = { version = "0.2", features = ["custom"] }
hex = "0.4"
humantime = "2.1"
k256 = "0.13"
lazy_static = "1"
log = "0.4"
mini-moka = "0.10.2"
num-bigint = "0.4"
num-traits = "0.2"
once_cell = "1.18"
proc-macro2 = "1.0"
quote = "1.0"
rand = "0.8"
reqwest = { version = "0.11", default-features = false }
ringbuffer = "0.14.2"
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11.2"
serde_json = "1.0"
serde_tokenstream = "0.2"
sha2 = "0.10"
syn = "1.0"
thiserror = "1.0"
tokio = "1.0"
tokio-test = "0.4"

# IC dependencies
candid = "0.9"
ic-agent = { version = "0.26" }
ic-cdk = "0.10"
ic-cdk-macros = "0.7"
ic-cdk-timers = "0.4"
icrc-ledger-types = "0.1.0"
ic-ledger-types = "0.7"
ic-stable-structures = "0.5.6"
ic-test-state-machine-client = "3"
