[package]
name = "ic-crypto-getrandom-for-wasm"
version.workspace = true
edition.workspace = true

[target.'cfg(target_family = "wasm")'.dependencies]
getrandom = { version = "0.2", features = ["custom"] }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
getrandom = { version = "0.2" }
