[package]
name = "ic-canister-macros"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
syn = "1.0"
quote = "1.0"
rand = "0.8.5"
proc-macro2 = "1.0"
ic-cdk = "0.3"
lazy_static = "1"
