on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - README.md

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

name: Clippy, fmt and tests with coverage

jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -p canister-sdk -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy
          override: true
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --all-targets
          name: Clippy Output

  test:
    name: Tests with coverage
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:develop-nightly
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Generate code coverage
        run: |
          cargo +nightly tarpaulin --verbose --timeout 120 --out Xml --workspace  --exclude canister-a --exclude canister-b --exclude canister-c --exclude canister-d --exclude canister-e --exclude test-payment-canister

  integration-test:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Machine setup
        run: |
          sudo apt update 
          sudo apt install -y libunwind-dev cmake protobuf-compiler
          sh -ci "$(curl -fsSL https://internetcomputer.org/install.sh)"
          rustup target add wasm32-unknown-unknown
          cargo install ic-wasm
          dfx start --background
          dfx canister create dummy_canister
          dfx build dummy_canister
      #     ic-payments/build_payments_canister.sh

      - name: Run integration tests
        run: |
          export WASMS_DIR="../target/wasm32-unknown-unknown/release/"
          cd ./ic-stable-structures
          cargo test --features state-machine
